



body {
    background-color: turquoise
}

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 2000px
}

header h1 {
    display: inline-block;
    font-size: 48px;
    background-color:orange;
    width: 1000px;
    border: 5px solid red;
    padding: 20px;
    margin: 20px;
    
}

header h1 span {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border: 5px Solid red;
    background-color: orange;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}


/** Hero Styling **/
.hero {
   
    background-image: url("../images/max selfie.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero .hero-message {
    font-size: 48px;
    background-color: green;
    color: red;
    right: 30px;
    border: 3px solid #73AD21;
    width: 40%;
    float:right;
    position:absolute;
    bottom:.0;
    right:0;
    

}

.hero .breh h2{
    float:center
}

main h3 {
    float:left;
}

main p {
    float:center
}

