



body {
    background-color: turquoise
}

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 2000px
}

header h1 {
    display: inline-block;
    font-size: 48px;
    background-color:orange;
    width: 1000px;
    border: 5px solid red;
    padding: 20px;
    margin: 20px;
    
}

header h1 span {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border: 5px Solid red;
    background-color: orange;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}


/** Hero Styling **/
.hero {
   
    background-image: url("../images/max selfie.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero .hero-message {
    font-size: 48px;
    background-color: green;
    color: red;
    right: 30px;
    border: 3px solid #73AD21;
    width: 40%;
    float:right;
    position:absolute;
    bottom:.0;
    right:0;
}

.hero .breh h2{
    float:center
}

.sideways h3 {
    font-size: 60px;
}

.flexdown {
   display:flex;
   flex-direction:column
}

.sideways {
    display:inline-flex;
    flex-direction:row;
    
}

#bigwork {
    height:2000px;
    
}

#work {
    margin:5px;
    margin-left:5px;
    margin-right:5px;
    position:relative;
    left:200px;
    width:800px;
    height:1000px;
    background-image: url("../images/eagle.jpg");
}

#surfreport {
    position:relative;
    top:700px;
    background-color:red;
    width:20%;
    left:20px;
}

#ledwall {
    position:relative;
    top:1000px;
    width:400px;
    background-color:salmon;
    height:400px;
}

#calculator {
    position:relative;
    top:580px;
    width:400px;
    left:400px;
    background-image: url("../images/calculator.jpeg");
    height:400px;
}

#pastelpuzzle {
    position:relative;
    top:600px;
    background-color:yellow;
    width:400px;
    height:400px;
}

#runbuddy {
    position:relative;
    top:175px;
    background-color:orange;
    left:400px;
    width:400px;
    height:400px;
}

.bottomleft {
    position:relative;
    background-color:brown;
    width:100px;
    top:300px;
    height:100px;
    
}
